.All {
  font-family: 'Times New Roman', Times, serif;
}

.TopName {
  font-size: 40px;
  padding-top: 50px;
}

.top {
  color: black;
  padding-left: 60px;
  height: auto;
}

.basic {
  color: black;
  padding-left: 60px;
  border-left: 1px solid grey;
  height: auto;
}
.basic2 {
  color: skyblue;
  line-height: 20px;
  padding-left: 15px;
  font-size: 15px;
}
.basic3 {
  font-size: 13px;
  color: black;
  padding-left: 4px;
}

.basic7 {
  font-size: 16px;
  font-weight: 540;
  line-height: 25px;
}

/*grid*/

.basic9 {
  padding-left: 150px;
  width: 800px;
  font-size: 26px;
}

.chotu10 {
  width: 300px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.BasicText {
  padding-left: 40px;
  padding-right: 100px;
  word-spacing: 4px;
  line-height: 23px;
  margin-left: 160px;
  border-left: 1px solid grey;
  height: auto;
}

.personalInfo {
  margin-top: 100px;
  font-size: 22px;
}

.jobProfile {
  padding-left: 100px;
  padding-right: 100px;
}

.colorText {
  color: skyblue;
  font-size: 13px;
  padding-top: 5px;
}

.icon {
  position: relative;
  top: 3px;
}
